/*** The new CSS reset - version 1.5.1 (last updated 1.3.2022) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

img {
  width: 100%;
  vertical-align: top;
}

body {
  max-width: 1000px;
  margin: auto;
}

* {
  font-family: "Raleway", sans-serif;
}

.header-logo {
  max-width: 109px;
  margin: auto;
  margin-top: 46px;
  margin-bottom: 10px;
}
.header-logo img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: auto;
}

@media (min-width: 751px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 100px;
    border-bottom: 1px solid #c3c3c3;
  }
}

.menu-list1 li {
  font-size: 12px;
  float: left;
  margin-right: 14px;
}

.menu-list2 li {
  font-size: 12px;
}
@media (min-width: 751px) {
  .menu-list2 li {
    float: left;
    margin-right: 14px;
  }
}

@media (min-width: 751px) {
  .product__page {
    margin-top: 50px;
    display: flex;
  }
}

@media (min-width: 751px) {
  .product__image {
    max-width: 400px;
    max-height: 500px;
    margin-right: 60px;
  }
}
.product__image img {
  height: 100%;
}

@media (min-width: 751px) {
  .product__detail {
    width: 50%;
  }
}

.product__name {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 18px 0px;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.product__text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 25px;
}

.price {
  margin: 30px 0px;
  font-size: 12px;
}

table {
  width: 100%;
  height: 150px;
}

.size-quantity {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #c3c3c3;
  font-size: 12px;
  text-align: center;
}

.size-quantity:last-child {
  border-bottom: none;
}

.border {
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
}

select {
  border: 1px solid #c3c3c3;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  width: 90%;
  text-align: left;
  padding-left: 10px;
}

.color,
.border {
  width: 20%;
}

.buttom {
  background-color: black;
  color: white;
  max-width: 340px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
}

.coloring,
.size {
  border: 1px solid #c3c3c3;
  vertical-align: middle;
}

.coloring {
  background-color: rgb(222, 219, 219);
}

.size-chart {
  max-width: 340px;
  height: 152px;
}

footer {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 10px;
  text-align: center;
}/*# sourceMappingURL=totally.css.map */